<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>F1Fly</title>
</head>
<body>

        <ul id="accion-gestion-carrera">
            <li class="gestionLI"><button type="button" class="botonGestion" (click)="activarFormulario_Carrera()">AGREGAR CARRERA</button></li>
            <li>|</li>
            <li class="gestionLI"><button type="button" class="botonGestion" >EDITAR CARRERA</button></li>
            <li>|</li>
            <li class="gestionLI"><button type="button" class="botonGestion" >MODIFICAR CARRERA</button></li>
        </ul>
        
    
        @if (agregarCarrera()) {
            <div id="overlay" class="hidden"></div>
            <app-carrera-form></app-carrera-form>
        }

        @let carreras = this.carreras();

       @if (carreras === undefined){
            <p>Cargando Carreras...</p>
       } @else {
            <section id="ListadoCarreras">
        <h2>F1FLY ADMIN</h2>
        @for(carrera of carreras; track carrera.id_carrera){
            <div class="contenedorCarrera"><h3>{{carrera.nombre_carrera}}</h3>
            <p class="textoCircuitos">{{carrera.descripcion_carrera}}</p>
            
            <button type="button" class="botonModificar" >MODIFICAR</button>
            <button type="button" class="botonEliminar" >ELIMINIAR</button>
        </div>
        } @empty {
            
        }

        <a class="home" href="#inicio">HOME</a>
    </section>
       }     
</body>
</html>


