@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 2;
    margin: 0;
    padding: 0;
}

#accion-gestion-carrera{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    background-color: rgb(25, 40, 97);
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    color: rgb(243, 60, 60);
}

.gestionLI{
    text-decoration: none;
    font-weight: normal;
}

#ListadoCarreras{
    background-color: rgb(11, 20, 53);
    margin: 0;
    color: white;
}

.contenedorCarrera{
    background-color:  rgb(25, 40, 97);
    color: white;
    margin: 0 250px 70px 250px;
    padding: 5px 20px 10px ;
    border-radius: 10px;
}

.textoCircuitos{
    padding-right: 400px;
}

footer{
    background-color: blueviolet;
    color: white;
    margin: 0;
}

.home{
list-style: none;
text-decoration: none;
padding-left: 50px ;
color: white;
margin: 0;
}

h2 {
    text-align: center;
    margin: 0px;
    padding-top: 20px ;
    padding-bottom: 20px;
}

.icono-header {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%; 
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.botonGestion {
    all: unset;               /* Quita todos los estilos por defecto del botón */
    cursor: pointer;          /* Cursor de mano para indicar que es clickeable */
    font-weight: bold;         /* Texto en negrita */
}

.botonModificar{
    background-color: greenyellow;
}

.botonEliminar{
    background-color: rgb(255, 47, 47);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* toda la pantalla */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* negro semi-transparente */
  z-index: 999; /* detrás del formulario */
}