<app-header-gestion-admin></app-header-gestion-admin>
@let carreras = this.carreras(); 

@if (activarFormulario()) {
<div id="overlay" class="hidden"></div>
<app-carrera-form></app-carrera-form>
} 

@if (isLoading()){
<p>Cargando Carreras...</p>
} @else if(carreras && carreras.length > 0){
<section id="ListadoCarreras">
  <h2>F1FLY ADMIN CARRERAS</h2>
  <div id="boton-agregar">
    <button type="button" class="botonAgregar" (click)="botonAgregar()">
      ➕ AGREGAR NUEVA CARRERA ➕
    </button>
  </div>
  @for(carrera of carreras; track carrera.id){
  <div class="contenedorCarrera">
    <div class="columna-izquierda">
      <img [ngSrc]="carrera.imageUrl_carrera" alt="imagen_carrera" width="100" 
  height="100" class="imagen-carrera" />
      <div class="botones">
        <button type="button" class="botonModificar" (click)="botonEditar()">
          ✏️ MODIFICAR
        </button>
         @if(editando()){
        <div id="overlay" class="hidden"></div>
        <app-carrera-form [estadoEdicion]="true" [carrera_edicion]="carrera" (out_carrera_edicion)="finzalizarEdicion($event)"></app-carrera-form>
        }
        <button type="button" class="botonEliminar" (click)="botonEliminar(carrera.id)">
          🗑️ ELIMINAR
        </button>
      </div>
    </div>

    <div class="info_carrera">
      <div class="info-wrapper">
      <ul class="lista-informacion-carreras">
        <li><strong>ID CARRERA:</strong> {{ carrera.id }}</li>
        <li><strong>NOMBRE CARRERA:</strong> {{ carrera.nombre_carrera }}</li>
        <li><strong>DESCRIPCION CARRERA:</strong> {{ carrera.descripcion_carrera }}</li>
        <li><strong>CAPACIDAD CARRERA</strong> {{ carrera.capacidad_carrera }}</li>
        <li><strong>CANTIDAD VUELTAS CARRERA:</strong> {{ carrera.cantidad_vueltas_carrera }}</li>
        <li><strong>PAIS CARRERA:</strong> {{ carrera.pais_carrera }}</li>
        <li><strong>CIUDAD CARRERA:</strong> {{ carrera.ciudad_carrera }}</li>
        <li><strong>FECHA CARRERA:</strong> {{ carrera.fecha_carrera }}</li>
        <li><strong>PRECIO CARRERA:</strong> {{ carrera.precio_carrera }}</li>
        <li><strong>URL IMAGEN CARRERA:</strong> {{ carrera.imageUrl_carrera }}</li>
      </ul>
      </div>
    </div>
  </div>
  } @empty {
  <p>No hay carreras cargadas...</p>
  }

</section>
}
