@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 2;
    margin: 0;
    padding: 0;
}

#accion-gestion-carrera{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    background-color: rgb(25, 40, 97);
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    color: rgb(243, 60, 60);
}

.gestionLI{
    text-decoration: none;
    font-weight: normal;
}

#boton-agregar{
    text-align: center;
    margin-bottom: 30px;
}

.botonAgregar{
font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  cursor: pointer;          /* Cursor de mano para indicar que es clickeable */
  font-weight: bold;         /* Texto en negrita */
  
}

.botonAgregar:hover{
  transform: translateY(-2px);
}

#ListadoCarreras{
    background-color: rgb(11, 20, 53);
    margin: 0;
    color: white;
}

.contenedorCarrera{
    display: grid;
    align-items: start;
    grid-template-columns: 400px 1fr;
    background-color:  rgb(25, 40, 97);
    color: white;
    margin: 0 240px 70px 250px;
    padding: 0px 15px 0px ;
    border-radius: 10px;
    gap: 30px;
}

.imagen-carrera{
    padding-top: 10px;
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
}

.info-carrera{
    flex: 1;
}

.lista-informacion-carreras{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas iguales */
    gap: 10px 40px; /* espacio entre filas y columnas */
    padding: 0;
    margin: 20px 0;
    color: white;
}


footer{
    background-color: blueviolet;
    color: white;
    margin: 0;
}

.home{
list-style: none;
text-decoration: none;
padding-left: 50px ;
color: white;
margin: 0;
}

h2 {
    text-align: center;
    margin: 0px;
    padding-top: 20px ;
    padding-bottom: 20px;
}

.icono-header {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%; 
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.botonGestion {
    all: unset;               /* Quita todos los estilos por defecto del botón */
    cursor: pointer;          /* Cursor de mano para indicar que es clickeable */
    font-weight: bold;         /* Texto en negrita */
}

.botones{
display: flex;
  flex-direction: row; /* o row si los quieres en línea */
  align-items: center;
  gap: 20px; /* <-- espacio entre botones */
  padding: 10px 0px;
}

.botonModificar{
    background-color: greenyellow;
}

.botonEliminar{
    background-color: rgb(255, 47, 47);
}

.botonModificar, .botonEliminar{
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}


.botonModificar:hover, .botonEliminar:hover {
  transform: translateY(-2px);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* toda la pantalla */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* negro semi-transparente */
  z-index: 999; /* detrás del formulario */
}