#Formulario_Carrera {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #131b71;
    color: white;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 800px;            
    z-index: 1000;
}

#Formulario_Carrera h2 {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 24px;
    text-align: center;
}

#Formulario_Carrera form ul {
    list-style: none;
    padding: 0;
    margin: 0;

    /* MISMO GRID QUE CARRERA */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 60px;
}

#Formulario_Carrera form li {
    width: 100%;
}

#Formulario_Carrera label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#Formulario_Carrera input,
#Formulario_Carrera select,
#Formulario_Carrera textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

#Formulario_Carrera textarea {
    height: 70px;
    resize: none;
}

/* BOTONES COMO EL FORM DE CARRERAS */
.botones-formulario {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botones-formulario button {
    flex: 0.4;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.botones-formulario button:hover {
    transform: translateY(-2px);
}

/* #boton-cerrar igual al de carreras */
#header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#boton-cerrar {
    padding: 2px 6px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    transition: 0.2s;
}

#boton-cerrar:hover {
    color: red;
    transform: scale(1.1);
}

/* COLORES EXACTOS DE CARRERAS */
#Formulario_Carrera #boton-enviar {
    background-color: #62fc98be;
}

#Formulario_Carrera #boton-reiniciar {
    background-color: #ff0000c7;
}
span {
    color: red;
    font-size: 12px;
    font-weight: bold;
}