<div id="overlay-vuelo">
  <section id="formulario-vuelo">

    <div id="header-form">
      <h2>{{ modoEdicion ? 'Editar vuelo' : 'Nuevo vuelo' }}</h2>
      <button id="boton-cerrar" (click)="cerrar.emit()">❌</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <ul>
        <li><label>Carrera ID</label><input type="text" formControlName="carrera_id"></li>
        <li><label>País origen</label><input type="text" formControlName="pais_origen"></li>
        <li><label>Ciudad origen</label><input type="text" formControlName="ciudad_origen"></li>
        <li><label>País destino</label><input type="text" formControlName="pais_destino"></li>
        <li><label>Ciudad destino</label><input type="text" formControlName="ciudad_destino"></li>
        <li><label>Aerolínea</label><input type="text" formControlName="aerolinea"></li>
        <li><label>Fecha disponible</label><input type="date" formControlName="fecha_disponible"></li>
        <li><label>Tipo avión</label><input type="text" formControlName="tipo_avion"></li>
        <li><label>Clase asiento</label><input type="text" formControlName="clase_asiento"></li>
        <li><label>Precio promedio (€)</label><input type="number" formControlName="precio_promedio_ticket_eur"></li>
      </ul>

      <button id="guardar" type="submit">{{ modoEdicion ? 'Actualizar' : 'Guardar' }}</button>
    </form>

  </section>
</div>
