#Formulario_Carrera {
   position: fixed;
    top: 1%; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #1a237e; 
    color: white;
    padding: 0px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 400px; 
    z-index: 1000; 
    text-align: left;
}

#Formulario_Carrera h2 {
    text-align: center;
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 24px;
}

#Formulario_Carrera form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Formulario_Carrera form li {
    margin-bottom: 8px;
}

#Formulario_Carrera label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#Formulario_Carrera input,
#Formulario_Carrera textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#Formulario_Carrera button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #3949ab;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Formulario_Carrera button:hover {
    background-color: #5c6bc0;
}


#header-form{
 display: flex;
  justify-content: space-between;
  align-items: center;
}

#boton-cerrar {
    padding: 2px 6px;   
    background: none;
    border: none;
    font-size: 8px;      
    cursor: pointer;
    color: black;
    transition: 0.2s;
    line-height: 1;       
}

#boton-cerrar:hover {
  color: red;
  transform: scale(1.1);
}

#Formulario_Carrera #boton-enviar {
  display: block;
  width: 60%;             
  margin: 15px auto 10px;  
  padding: 5px 0;       
  background-color: #3f51b5;  
  color: white;
  font-weight: bold;
  font-size: 15px;       
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#Formulario_Carrera #boton-enviar:hover {
  background-color: #5c6bc0; 
  transform: scale(1.05);    
}