#Formulario_Carrera {
   position: fixed;
    /* --- CAMBIO CRÍTICO: Anclamos el inicio del formulario al 15% del borde superior --- */
    top: 1%; 
    
    left: 50%; 
    /* --- CAMBIO CLAVE: Solo centramos en el eje horizontal (X) --- */
    transform: translateX(-50%);
    background-color: #1a237e; /* Azul oscuro, combina con tu estilo */
    color: white;
    padding: 0px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); /* efecto flotante */
    width: 400px; /* ancho fijo */
    z-index: 1000; /* siempre encima del contenido */
    text-align: left;
}

#Formulario_Carrera h2 {
    text-align: center;
    margin-bottom: 7px;
    margin-top: 5px;
    font-size: 24px;
}

#Formulario_Carrera form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Formulario_Carrera form li {
    margin-bottom: 8px;
}

#Formulario_Carrera label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#Formulario_Carrera input,
#Formulario_Carrera textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#Formulario_Carrera button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #3949ab;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Formulario_Carrera button:hover {
    background-color: #5c6bc0;
}
