<section id="Formulario_Carrera">
    <div id="header-form">
    <h2>Cargue su nueva carrera...</h2><div><button type="submit" id="boton-cerrar" (click)="cerrarFormulario()">❌</button></div>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
            <ul>
                <li>
                    <label for="nombre_carrera">Nombre:</label>
                    <input type="text" id="nombre_circuito" formControlName="nombre_carrera" placeholder="Circuito de Monaco...">
                    @if(nombre_carrera.dirty || nombre_carrera.touched){
                    @if(nombre_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (nombre_carrera.hasError('minlength')) {
                        <span>Debe contener mas de 2 caracteres</span>
                    }@else if (nombre_carrera.hasError('maxlength')) {
                        <span>Debe contener menos de 40 caracteres</span>
                    }
                }
                </li>
                
                <li>
                    <label for="cantidad_vueltas_carrera">Cantidad Vueltas:</label>
                    <input type="number" formControlName="cantidad_vueltas_carrera" id="cantidad_vueltas">
                    @if(cantidad_vueltas_carrera.dirty || cantidad_vueltas_carrera.touched){
                    @if(cantidad_vueltas_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (cantidad_vueltas_carrera.hasError('min')) {
                        <span>Debe contar con mas de 50 vueltas</span>
                    }
                }              
              </li>
               <li>
                    <label for="pais_carrera">País:</label>
                    <input type="text" formControlName="pais_carrera" id="pais_circuito" placeholder="Monaco...">
                    @if(pais_carrera.dirty || pais_carrera.touched){
                    @if(pais_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (pais_carrera.hasError('minlength')) {
                        <span>Debe contener mas de 2 caracteres</span>
                    }@else if (pais_carrera.hasError('maxlength')) {
                        <span>Debe contener menos de 40 caracteres</span>
                    }
                }
                </li>
                <li>
                    <label for="capacidad_carrera">Capacidad:</label>
                    <input type="number" id="capacidad_circuito" formControlName="capacidad_carrera">
                    @if(capacidad_carrera.dirty || capacidad_carrera.touched){
                    @if(capacidad_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (capacidad_carrera.hasError('min')) {
                        <span>Debe contar con mas de 5000 espectadores</span>
                    }
                }  
                </li>
                 
                <li>
                    <label for="ciudad_carrera">Ciudad:</label>
                    <input type="text" formControlName="ciudad_carrera" id="ciudad_circuito" placeholder="Principado de Monaco...">
                    @if(ciudad_carrera.dirty || ciudad_carrera.touched){
                    @if(ciudad_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (ciudad_carrera.hasError('minlength')) {
                        <span>Debe contener mas de 2 caracteres</span>
                    }@else if (ciudad_carrera.hasError('maxlength')) {
                        <span>Debe contener menos de 40 caracteres</span>
                    }
                }
                </li>
                <li>
                    <label for="fecha_carrera">Fecha:</label>
                    <input type="date" id="fecha_circuito" formControlName="fecha_carrera">
                    @if(fecha_carrera.dirty || fecha_carrera.touched){
                    @if(fecha_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }
                }
                </li>    
                <li>
                    <label for="imageUrl_carrera">URL Imagen:</label>
                    <input type="text" id="urlImagen_circuito" formControlName="imageUrl_carrera" placeholder="Monaco.jpg...">
                    @if(imageUrl_carrera.dirty || imageUrl_carrera.touched){
                    @if(imageUrl_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }
                }
                </li>
                <li>
                    <label for="tipo_entrada">Tipo de entrada: </label>
                    <select formControlName="tipo_entrada" id="tipo_entrada">
                    <option value="" disabled>Seleccione el tipo de entrada...</option>
                    @for (te of tipos_ent; track $index) {
                        <option [value]="te"><strong>{{te}}</strong></option>
                    }
                    </select>
                    @if(tipo_entrada.dirty || tipo_entrada.touched){
                        @if(tipo_entrada.hasError('required')){
                            <span>Campo requerido</span>
                        }
                    }
                </li> 
                <li>
                    <label for="descripcion_carrera">Descripción:</label>
                    <textarea id="descripcion_circuito" formControlName="descripcion_carrera" placeholder="Descripción..."></textarea>
                    @if(descripcion_carrera.dirty || descripcion_carrera.touched){
                    @if(descripcion_carrera.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if (descripcion_carrera.hasError('minlength')) {
                        <span>Debe contener mas de 5 caracteres</span>
                    }@else if (descripcion_carrera.hasError('maxlength')) {
                        <span>Debe contener menos de 200 caracteres</span>
                    }
                }
                </li>
                 @if(tipoEntradaSeleccionada === 'Regular'){
                    <li>
                    <label for="precio_entrada_regular">Precio:</label>
                    <input type="number" formControlName="precio_entrada_regular" id="precio_entrada_regular">
                    @if(precio_entrada_regular.dirty || precio_entrada_regular.touched){
                    @if(precio_entrada_regular.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if(precio_entrada_regular.hasError('min')){
                        <span>El precio minimo debe ser de 80$</span>
                    }@else if (precio_entrada_regular.hasError('max')){
                        <span>El precio maximo debe ser de 150$</span>
                    }
                }
                </li>
                }@else if(tipoEntradaSeleccionada === 'Premium'){
                    <li>
                    <label for="precio_entrada_premium">Precio:</label>
                    <input type="number" formControlName="precio_entrada_premium" id="precio_entrada_premium">
                    @if(precio_entrada_premium.dirty || precio_entrada_premium.touched){
                    @if(precio_entrada_premium.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if(precio_entrada_premium.hasError('min')){
                        <span>El precio minimo debe ser de 150$</span>
                    }@else if (precio_entrada_premium.hasError('max')){
                        <span>El precio maximo debe ser de 300$</span>
                    }
                }
                </li>
                }@else if(tipoEntradaSeleccionada === 'VIP'){
                    <li>
                    <label for="precio_entrada_vip">Precio:</label>
                    <input type="number" formControlName="precio_entrada_vip" id="precio_entrada_vip">
                    @if(precio_entrada_vip.dirty || precio_entrada_vip.touched){
                    @if(precio_entrada_vip.hasError('required')){
                        <span>Campo requerido</span>
                    }@else if(precio_entrada_vip.hasError('min')){
                        <span>El precio minimo debe ser de 300$</span>
                    }@else if (precio_entrada_vip.hasError('max')){
                        <span>El precio maximo debe ser de 300$</span>
                    }
                }
                </li>
                }
            </ul> 
            <div  class="botones-formulario">
            <button type="submit" id="boton-enviar" [disabled]="form.invalid">ENVIAR</button>
            <button type="button" id="boton-reiniciar" (click)="botonReiniciar()">REINICIAR</button>
                </div>
        </form>
    </div>
</section>

