@let carrera = carrera_bus();
@if (carrera) {
<div>
<h2 class="titulo-details">Informacion Adicional: {{carrera.nombre_carrera}}</h2>
<div class="contenedor-details">
    <ul>
        <li class="nombre-carrera"><strong>{{carrera.nombre_carrera}}</strong></li>
        <li><strong>Pais: </strong>{{carrera.pais_carrera}}</li>
        <li><strong>Ciudad: </strong>{{carrera.ciudad_carrera}}</li>
        <li><strong>Cantidad de vueltas: </strong>{{carrera.cantidad_vueltas_carrera}} vueltas</li>
        <li><strong>Capacidad del circuito:</strong> {{carrera.capacidad_carrera}} personas</li>
        <li class="details-carrera" ><strong>Descripcion del circuito </strong></li>
        <li>{{carrera.descripcion_carrera}}</li>
    </ul>

     <google-map height="200px"
              width="100%"
              [center]="{ lat: carrera.ubicacionEnMapa?.latitud ?? 0, lng: carrera.ubicacionEnMapa?.longitud ?? 0 }"
              [zoom]="15">
      <map-marker [position]="{ lat: carrera.ubicacionEnMapa?.latitud ?? 0, lng: carrera.ubicacionEnMapa?.longitud ?? 0 }"
                  [title]="carrera.nombre_carrera">
      </map-marker>
  </google-map>
</div>
</div>
}