/* --- CONTENEDOR GENERAL --- */
:host {
    display: block; 
    background-color: #0B162F; 
    min-height: 100vh; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}

h2, .description{
    text-align: center;

}

/* --- GRID --- */
.hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 30px; 
    margin-top: 30px;
}

/* --- CARD HOTEL --- */
.hotel-card {
    background-color: #13244c; 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; 
}

.hotel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* --- IMAGEN --- */
.hotel-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #ff3333; 
}

/* --- INFO --- */
.hotel-info {
    padding: 15px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

/* --- BOTONES --- */
.btn-rojo, .btn-seleccionar {
    padding: 12px 15px;
    font-size: 15px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.25s ease;
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.btn-rojo:hover,
.btn-seleccionar:hover {
    background-color: #ff5555;
}

.btn-seleccionar {
    background-color: #1fa23e;
}
.btn-seleccionar:hover {
    background-color: #33c95a;
}
