<div class="list-container">

  <h2 class="list-title">Hoteles Disponibles</h2>
  <p class="description">Encuentra el mejor alojamiento cerca del circuito seleccionado.</p>

  @if (hotelSource() === undefined) {
    <div class="loading-state">Cargando hoteles...</div>
  }

  @if (HotelesFiltrados.length > 0) {

    <div class="hotels-container">

      @for (hotel of HotelesFiltrados; track hotel.id) {

        <div class="hotel-card">

          <img class="hotel-img"
               [src]="hotel.imagenUrl"
               alt="Imagen del hotel"
               (error)="onImageError($event)">

          
          <div class="hotel-info">

            <div class="hotel-header">
              <h3 class="hotel-title">{{ hotel.nombre_hotel }}</h3>
            </div>

            <p class="hotel-location">
              📍 {{ hotel.ciudad }}, {{ hotel.pais }}
            </p>

            <div class="hotel-row">
              <span class="icon">💶</span>
              <span>Precio por noche: <strong>€{{ hotel.precio_promedio_habitacion_eur }}</strong></span>
            </div>

            <div class="hotel-row">
              <span class="icon">🏨</span>
              <span>Amenities: {{ hotel.tieneAmenities ? 'Sí' : 'No' }}</span>
            </div>

            <div class="hotel-row">
              <span class="icon">🚌</span>
              <span>Transporte: {{ hotel.tieneTransporte ? 'Sí' : 'No' }}</span>
            </div>

            <div class="btn-row">
              <button routerLink="/hoteles/{{hotel.id}}" class="btn-detalles">
                Ver Más →
              </button>

              <button class="btn-seleccionar"
                      (click)="seleccionarHotel(hotel)">
                Seleccionar →
              </button>
            </div>

          </div>
        </div>

      }

    </div> 

  } @else {
    <div class="empty-state">No hay hoteles disponibles para esta carrera.</div>
  }

</div>
