
@if (activarFormHabitacion() && hotelSeleccionado()) {
<div id="overlay"></div>

<app-habitacion-form
    [hotelId]="hotelSeleccionado()!.id!.toString()" 
    [hotelNombre]="hotelSeleccionado()!.nombre_hotel!"
    (cerrarFormulario)="cerrarHab()"
    (habitacionSeleccionada)="irAVuelos()"
    [fechasDisponibles]="hotelSeleccionado()!.fechas_disponibles!"
></app-habitacion-form>


}

<div class="list-container">

<h2 class="list-title">Hoteles Disponibles</h2>
<p class="description">Encuentra el mejor alojamiento cerca del circuito seleccionado: {{ reserva.getCarrera()?.nombre_carrera || '...' }}.</p>

@if (hotelSource() === undefined) {
<div class="loading-state">Cargando hoteles...</div>
}

@if (HotelesFiltrados.length > 0) {

<div class="hotels-container">

  @for (hotel of HotelesFiltrados; track hotel.id) {

    <div class="hotel-card">

      <div class="hotel-image-wrapper">    
                 <img [ngSrc]="hotel.imagenUrl" alt="imagen_hotel" width="100"  height="100" class="imagen-hotel" />
      </div>
      
      <div class="hotel-content">

        <div class="hotel-header">
            <h3 class="hotel-title">{{ hotel.nombre_hotel }}</h3>
        </div>
        <p class="hotel-location">
           📍 {{ hotel.pais }} - {{ hotel.direccionExacta }}
        </p>

        <hr class="divider">

        <div class="hotel-data">
            

            <div class="hotel-row">
                <span class="icon">🏨</span>
                <span>Amenities: {{ hotel.tieneAmenities ? 'Sí ✅' : 'No ❌' }}</span>
            </div>

            <div class="hotel-row">
                <span class="icon">🚌</span>
                <span>Transporte: {{ hotel.tieneTransporte ? 'Sí ✅' : 'No ❌' }}</span>
            </div>
            <div class="map-container">
  <google-map height="200px"
              width="100%"
              [center]="{ lat: hotel.ubicacionEnMapa?.latitud ?? 0, lng: hotel.ubicacionEnMapa?.longitud ?? 0 }"
              [zoom]="15">
      <map-marker [position]="{ lat: hotel.ubicacionEnMapa?.latitud ?? 0, lng: hotel.ubicacionEnMapa?.longitud ?? 0 }"
                  [title]="hotel.nombre_hotel">
      </map-marker>
  </google-map>
</div>

            
            <div class="hotel-row fechas-row">
                <span class="icon">📅</span>
                
                <ul class="dates-list">
                    @for (fecha of hotel.fechas_disponibles; track $index) {
                        <li>{{ fecha }}</li>
                    } @empty {
                        <li>(Sin fechas)</li>
                    }
                </ul>
            </div>
        </div>

        <div class="hotel-footer">
          <button class="btn-seleccionar"
                  [title]="!hayCarreraSeleccionada ? 'Primero seleccione una carrera' : 'Abrir formulario de gestión de habitaciones' "
                  (click)="seleccionarHotel(hotel)">
            Seleccionar Habitación →
          </button>
        </div>

      </div>
    </div>

  }

</div> 


} @else {
<div class="empty-state">No hay hoteles disponibles para esta carrera.</div>
}

</div>