<div class="list-container">

  <h2 class="list-title">Listado de Hoteles</h2>
  <p class="description">Encuentra el mejor alojamiento cerca de tu circuito favorito.</p>

  @if (hotelSource() === undefined) {
    <div class="loading-state">Cargando listado de hoteles...</div>
  }

  <div class="hotel-grid">

    @if (HotelesFiltrados.length > 0) {

      @for (hotel of HotelesFiltrados; track hotel.id) {

        <div class="hotel-card">

          <img class="hotel-img"
               [src]="hotel.imagenUrl"
               alt="Imagen del Hotel"
               (error)="onImageError($event)">

          <div class="hotel-info">

            <h3>{{ hotel.nombre_hotel }}</h3>
            <p class="hotel-location">
              {{ hotel.ciudad }}, {{ hotel.pais }}
            </p>

            <div class="hotel-details">
              <p class="price-tag">
                <strong>€{{ hotel.precio_promedio_habitacion_eur }}</strong> / Noche
              </p>

              <p class="hotel-feature">
                Amenities: {{ hotel.tieneAmenities ? '✅' : '❌' }}
              </p>

              <p class="hotel-feature">
                Transporte: {{ hotel.tieneTransporte ? '✅' : '❌' }}
              </p>
            </div>

            <button routerLink="/hoteles/{{hotel.id}}" class="btn-rojo">
              Ver Detalles
            </button>

            <button class="btn-seleccionar"
                    (click)="seleccionarHotel(hotel)">
              Seleccionar →
            </button>

          </div>
        </div>

      }

    } @else {

      <div class="empty-state">
        No hay hoteles disponibles para esta carrera.
      </div>

    }

  </div>
</div>
