
<section id="Formulario_Carrera"> 
  <div id="header-form">
    <h2>{{ estadoEdicion() ? 'Modificar hotel...' : 'Cargar nuevo hotel...' }}</h2>
    <div>
      <button type="button" id="boton-cerrar" (click)="cerrarForm()">❌</button>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <ul>
      
      @if(estadoEdicion()){
        <li>
            <label>ID HOTEL:</label>
            <input type="text" formControlName="id" readonly>
        </li>
      }

      <li>
        <label>Nombre hotel:</label>
        <input type="text" formControlName="nombre_hotel">
      </li>

      <li>
        <label>Carrera asociada (ID):</label>
        <input type="number" formControlName="carrera_id">
      </li>

      <li>
        <label>País:</label>
        <input type="text" formControlName="pais">
      </li>

      <li>
        <label>Ciudad:</label>
        <input type="text" formControlName="ciudad">
      </li>

      <li>
        <label>Fechas disponibles (separadas por coma):</label>
        <input type="text" formControlName="fechas_disponibles_text">
      </li>

      <li>
        <label>Precio Promedio (€):</label>
        <input type="number" formControlName="precio_promedio_habitacion_eur">
      </li>

      <li>
        <label>Amenities:</label>
        <input type="checkbox" formControlName="tieneAmenities">
      </li>

      <li>
        <label>Transporte:</label>
        <input type="checkbox" formControlName="tieneTransporte">
      </li>

      <li>
        <label>Imagen URL:</label>
        <input type="text" formControlName="imagenUrl" placeholder="https://ejemplo.com/imagen.jpg">
      </li>

      <li>
        <label>Latitud:</label>
        <input type="number" formControlName="ubicacion_mapa.latitud">
      </li>

      <li>
        <label>Longitud:</label>
        <input type="number" formControlName="ubicacion_mapa.longitud">
      </li>

    </ul>

    <button id="boton-enviar" type="submit">
      {{ estadoEdicion() ? 'GUARDAR CAMBIOS' : 'ENVIAR' }}
    </button>
  </form>
</section>