.img-logo{
width: 600px;
height: 100px;
margin-right: 30px;
object-fit: cover;
margin: 0;
filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.5));
 filter: brightness(1.2) contrast(1.1); 
 transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
mask: linear-gradient(to right, transparent, black 10%, black 90%, transparent);

mask-image: linear-gradient(
        to bottom, 
        black 80%,       
        transparent 100% 
    );
    

     mask-image: linear-gradient(
        to right, 
        transparent 0%, 
        black 10%, 
        black 90%, 
        transparent 100%
    ); 
    
}

.logo-container {
 
    flex-grow: 1; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-right: 50px; 
}
.img-logo:hover {
     transform: scale(1.05); 
     filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.8)); 
}

header {
   width: 100%; 
    display: flex;
    background-color: #0B162F;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px 0; 
    position: relative;
    z-index: 10;
    
    
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease; 
}


.nav-link:hover {
    color: #e50000; 
}


.btn-registrarse {
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    
}


.btn-registrarse:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px); 
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}
