<header>
    <div class="logo-container">
        <a routerLink="/"> 
            <img src="logo-f1fly-minimal.png" alt="logo f1fly" class="img-logo">
        </a>
    </div>
    <h1 style="position: absolute; left: -9999px;">Bienvenido a F1Fly</h1>
    
    <nav>
       
        <a routerLink="/registro" class="btn-registrarse">Registrarse</a> 
        @if(auth.isLoggedin())
        {
             <a routerLink="/gestion-carrera" class="nav-link">Gestion Carrera</a>
             <button class="btn-cerrar-sesion" (click)="logout()">Cerrar sesion</button>
        }
        @else {
            <a routerLink="/inicio_sesion" class="nav-link">Iniciar sesion</a>
        }
        <a routerLink="lista-de-carreras" class="nav-link">Lista de carreras</a>

        <a routerLink="/lista-hoteles" class="nav-link">Lista de hoteles</a>

    </nav>
</header>
