<section id="Formulario_Carrera">
        <h2>Cargar Circuito</h2>
        <div>
            <form>
            <ul>
            <li><label for="nombre_circuito">Nombre:</label>
                <input type="text" id="nombre_circuito" name="nombre" placeholder="Circuito de Monaco...">
            </li>
            <li><label for="fecha_circuito">Fecha: </label>
                <input type="date" id="fecha_circuito" name="fecha_circuito">
            </li>    
            <li><label for="capacidad_circuito">Capacidad: </label>
            <input type="number" id="capacidad_circuito" name="capacidad_circuito">
            </li>
            <li><label for="descripcion_circuito">Descripcion:</label>
                <textarea id="descripcion_circuito" name="descripcion_circuito" placeholder="Descripción..."></textarea>            </li>
            <li><label for="cantidad_vueltas">Cantidad Vueltas:</label>
                <input type="number" name="cantidad_vueltas" id="cantidad_vueltas">
            </li>
            <li><label for="ciudad_circuito">Ciudad:</label>
                <input type="text" name="ciudad_circuito" id="ciudad_circuito" placeholder="Principado de Monaco...">
            </li>
            <li><label for="pais_circuito">Pais:</label>
                <input type="text" name="pais_circuito" id="pais_circuito" placeholder="Monaco...">
            </li>
            </ul>
            <button type="submit" id="boton">ENVIAR</button>
            </form>
        </div>
    </section>
