<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Fly</title>
</head>

<body>
        <section class="hero">
            <h2>Tu experiencia F1 completa, en un solo lugar</h2>
            <p>Reserva carreras, viajes y hoteles juntos. Vivi la experiencia de la Formula 1 sin complicaciones.</p>
          <button class="btn-rojo" (click)="botonExplorar()" onclick="document.getElementById('carreras').scrollIntoView({behavior:'smooth'})">Explorar Carreras</button>
            @if(!auth.isLoggedin())
            {
                <button class="btn-blanco" routerLink="/registro">Crear Cuenta</button>
            }
        </section>
        <section class="servicios">
            <div class="cards">
                <div class="card"> <p class="p-titulo">🏎️ Entradas a carrera</p>
                    <p>Asegura tu asiento: Vive la emoción en primera fila.</p>
                </div>
                <div class="card"> <p class="p-titulo">🏨 Hoteles cercanos </p>
                    <p>Alojamiento premium: Descanso a pocos minutos del circuito.</p>
                </div>
                <div class="card"><p class="p-titulo">✈️ Vuelos directos a medida </p>
                    <p>Tu Viaje, optimizado: Vuelos directos y flexibles para la ruta perfecta.</p>
                </div>
            </div>
        </section>
</body>

</html>

