<app-header-gestion-admin></app-header-gestion-admin>

@let hoteles = this.hoteles();

@if (activarFormularioHotel()) {
  <div id="overlay"></div>

  <app-hotel-form 
    [estadoEdicion]="editarHotel()" 
    [hotelEditar]="hotelEditar()"
    (formularioGuardado)="onFormularioGuardado()"
    (cancelar)="onCancelarFormulario()"
  ></app-hotel-form>
}

@if (!hoteles) {
  <p class="mensaje">Cargando Hoteles...</p>
}
@else {

<section id="ListadoHoteles"> 
  <h2>F1FLY ADMIN HOTELES</h2>

  <div id="boton-agregar">
    <button type="button" class="botonAgregar" (click)="activarFormHotel()">
      ➕ AGREGAR NUEVO HOTEL ➕
    </button>
  </div>

  @for (hotel of hoteles; track hotel.id) {

  <div class="contenedorHotel">

    <div class="columna-izquierda">  
      <img [ngSrc]="hotel.imagenUrl" alt="imagen_hotel" width="100"  height="100" class="imagen-hotel" />
      <div class="accionesHotel">
        <button type="button" class="botonEditar" (click)="activarEditHotel(hotel.id!)">
          ✏️ MODIFICAR
        </button>

        <button type="button" class="botonEliminar" (click)="activarElimHotel(hotel.id!)">
          🗑️ ELIMINAR
        </button>
      </div>
    </div>
    <div class="info_hotel">
      <ul class="lista-informacion-hoteles">
        <li><strong>ID HOTEL:</strong> {{hotel.id}}</li>
        <li><strong>NOMBRE HOTEL:</strong> {{hotel.nombre_hotel}}</li>
        <li><strong>CARRERA ID ASOCIADA:</strong> {{hotel.carrera_id}}</li>
        <li><strong>PAIS:</strong> {{hotel.pais}}</li>
        <li><strong>CIUDAD:</strong> {{hotel.ciudad}}</li>
        <li><strong>PRECIO PROM. EUR:</strong> €{{hotel.precio_promedio_habitacion_eur}}</li>

        <li><strong>AMENITIES:</strong> 
          @if(hotel.tieneAmenities) { SÍ ✅ } @else { NO ❌ }
        </li>

        <li><strong>TRANSPORTE:</strong> 
          @if(hotel.tieneTransporte) { SÍ ✅ } @else { NO ❌ }
        </li>

        <li> 
          <strong>DIRECCIÓN:</strong> {{ hotel.direccionExacta }}
        </li>

        <li> 
          <strong>FECHAS DISPONIBLES:</strong>
          <div class="tags-fechas">
            @for (fecha of hotel.fechas_disponibles; track $index) {
              <span class="tag-fecha">{{ fecha }}</span>
            } @empty {
              <span>(No hay fechas disponibles)</span>
            }
          </div>
        </li>
      </ul>
    </div>

  </div>

  } @empty {
    <p class="mensaje">No hay hoteles cargados...</p>
  }

</section>

}