@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:host {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
}

#accion-gestion-carrera{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    background-color: rgb(25, 40, 97);
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    color: rgb(243, 60, 60); 
}

.gestionLI{
    text-decoration: none;
    font-weight: normal;
}

.botonGestion {
    all: unset;               
    cursor: pointer;          
    font-weight: bold;
    color: rgb(243, 60, 60);          
}

#boton-agregar{
    text-align: center;
    margin-bottom: 30px;
}

.botonAgregar{
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px 15px; 
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  background-color: rgb(243, 60, 60);
  color: white;
}

.botonAgregar:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(243, 60, 60, 0.5);
}

#ListadoHoteles{ 
    background-color: rgb(11, 20, 53);
    margin: 0;
    color: white;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    margin: 0px;
    padding-top: 20px ;
    padding-bottom: 20px;
}

.contenedorHotel{ 
    display: grid;
    align-items: start;
    grid-template-columns: 400px 1fr;
    background-color:  rgb(25, 40, 97);
    color: white;
    margin: 0 auto 70px auto;
    max-width: 1200px;
    padding: 15px; 
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.imagen-hotel{ 
    padding-top: 10px;
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
}

.info-hotel{ 
    flex: 1;
}

.lista-informacion-hoteles{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px; 
    padding: 0;
    margin: 20px 0;
    color: white;
    list-style: none;
}

.botones{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 20px; 
    padding: 10px 0px;
}

.botonModificar{
    background-color: greenyellow;
}

.botonEliminar{
    background-color: rgb(255, 47, 47);
}

.botonModificar, .botonEliminar{
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.botonModificar:hover, .botonEliminar:hover {
  transform: translateY(-2px);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 999; 
}

.home{
    list-style: none;
    text-decoration: none;
    padding-left: 50px ;
    color: rgb(243, 60, 60);
    margin: 0;
    display: block;
    font-weight: bold;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
    .contenedorHotel {
        grid-template-columns: 1fr;
        margin: 0 5% 40px 5%;
    }
    .imagen-hotel {
        width: 100%;
        height: auto;
    }
    .lista-informacion-hoteles {
        grid-template-columns: 1fr;
    }
}