.carreras {
 padding: 20px;
 background-color: #0B162F;
 color: white;
}

.proxCarreras {
 font-size: 2em;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 margin-bottom: 25px;
 border-bottom: 2px solid #ff3333;
 padding-bottom: 10px;
}


.races-container {
display: flex;
 flex-direction: column; 
 gap: 15px; 
max-width: 900px; 
 margin: 0 auto; 
}