
<body>
    
<h2>Iniciar sesion</h2>
<div class="back-home">
    <button routerLink="/" class="back-home-button">Volver al Menu</button>
</div>

<form [formGroup]="form" (ngSubmit)="login()" class="form">
<div class="form-field">

<div class="form-field">
    <label for="usuario"> nombre de usuario</label>
    <input type="text" id="usuario" formControlName="usuario" placeholder="usuario123...">
</div>

<div class="form-field">
    <label for="contraseña">Contraseña</label>
    <div class="password-wrapper">

    <input 
      [type]="passwordVisible ? 'text' : 'password'" 
      id="contraseña" 
      formControlName="password" 
      placeholder="*****">

    <button 
      type="button" 
      class="toggle-password" 
      (click)="togglePasswordVisibility()">
      
      <span *ngIf="!passwordVisible">👁️</span> <span *ngIf="passwordVisible">🙈</span> </button>
    
  </div>
</div>
</div>
    <div class="btn-submit">
        <button type="submit">Iniciar sesion</button>
    </div>
    <p class="text-NoAccount">
  ¿No tiene una cuenta?
  <a routerLink="/registro" class="login-link">Registrese</a>
</p>



