body{
    background-color: #0B162F;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

form.form{
    background-color: #0B162F;
    color: white;
    border: 1px solid #182A4B;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 50px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #CC1C4A;
}

form.form:hover{
    box-shadow: 0 0 30px #CC1C4A;
    
}

h2{
    text-align: center;
    color : #CC1C4A;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field label{
    font-weight: bold;
    color: white;
    font-size: 0.95em;
    letter-spacing: 0.75px;
}
.form-field input{
     background-color: #182A4B;;
    color:white;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    font-size: 1em;
    outline: none;
}

.form-field input:focus{
    border-color: #CC1C4A;
    box-shadow: 0 0 8px rgba(255,0 , 0 , 0.5);
}

.form-field input::placeholder{
    color: #888;
}

.btn-submit {
    grid-column: 1 / -1; /* Ocupa ambas columnas */
    margin-top: 10px;
    text-align: center;
}



.btn-submit button[type="submit"] {
    background-color:  #0B162F;
    color: white;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: all 0.3s ease;
}

.btn-submit button[type="submit"]:hover {
    background-color: #ff3333; 
    transform: translateY(-2px);
    box-shadow: 0 0 12px rgba(204, 28, 74, 0.8);
}

.text-NoAccount{
    color: #888;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    font-size: 0.7em;
}

.back-home{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 125px;
    
}

.back-home-button{
    background-color: #CC1C4A;
    color: white;
    
    
}

.back-home-button:hover{
    background-color: #CC1C3A;
    transform: translateY(-2px);
}
.login-link {
  color:#CC1C4A;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px;
}

.login-link:hover {
  text-decoration: underline;
  color: #ff1e2d; 
}

.password-wrapper {
  position: relative;
}
.password-wrapper input {
  padding-right: 45px; 
  width: 100%;
  box-sizing: border-box; 
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%; 
  transform: translateY(-50%); 
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem; 
  padding: 0;
  line-height: 1; 
}