<div class="confirmation-container">
    <div class="ticket-card">
        <div class="notch"></div>

        <div class="icon-container">
            <div class="error-circle">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <h2 class="title error-title">¡OCURRIÓ<br>UN ERROR!</h2>

        <div class="details">
            <p class="error-message">No pudimos procesar la reserva. Por favor, vuelve a intentarlo más tarde.</p>
        </div>

        <div class="footer">
            <div class="plane-icon">
                <i class="fa-solid fa-plane"></i>
            </div>
        </div>

        <button class="btn-home error-btn" (click)="volver()">Volver al Inicio</button>
    </div>
</div>