<div class="layout">
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

    @if (!estaEnHoteles()) {
        <aside class="sidebar">
            <h3>Ficha de Reserva</h3>

            @let r = reservaCliente.reserva();

            @if (r?.carrera) {
                <div class="reserva-item">
                    <strong>Carrera:</strong>
                    <span>{{ r.carrera?.nombre_carrera }}</span>
                    <span class="precio">€{{reservaCliente.getPrecioCarreraSeleccionada() | number:'1.0-2' }}</span>
                </div>
            }

            @if (r?.hotel) {
                <div class="reserva-item">
                    <strong>Hotel:</strong>
                    <span>{{ r.hotel?.nombre_hotel }}</span>
                </div>
            }

            @if (r?.habitacion) {
                <div class="reserva-item">
                    <strong>Habitación ({{ r.habitacion?.cantPersonas }} pers.):</strong>
                    <span>{{ r.habitacion?.tipoHabitacion }}</span>
                    <span class="precio">€{{ r.habitacion?.precioTotal | number:'1.0-2' }}</span>
                </div>
            }

            @if (r?.vuelo) {
                <div class="reserva-item">
                    <strong>Vuelo:</strong>
                    <span>{{ r.vuelo?.ciudad_origen }} → {{ r.vuelo?.ciudad_destino }}</span>
                    <span class="precio">€{{ reservaCliente.getPrecioTotalVuelo() | number:'1.0-2' }}</span>
                </div>
            }

            <div class="cupon-container">
                <input type="text"
                      placeholder="Ingresa tu cupón"
                      [(ngModel)]="cuponIngresado"
                      class="cupon-input">

                <button (click)="aplicarCupon()" class="cupon-btn">
                    Aplicar cupón
                </button>

                @if (cuponError) {
                    <p class="cupon-error">{{ cuponError }}</p>
                }
            </div>

            <hr>

            <div class="total-container">
                
                @if (reservaCliente.tieneDescuento()) {
                    <div class="total-item descuento-line">
                        <strong>Descuento:</strong>
                        <span class="descuento-valor">- €{{ (reservaCliente.subtotal() - reservaCliente.total()) | number:'1.0-2' }}</span>
                    </div>
                }

                <div class="total-item total-final">
                    <strong>Total a Pagar:</strong>
                    <span>€{{ reservaCliente.total()}}</span>
                </div>
            </div>

            <div id="paypal-button-container" style="margin-top: 20px;"></div>

        </aside>
    }
</div>