.races-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    max-width: 900px; 
    margin: 0 auto; 
    margin-bottom: 40px;
        font-family: Arial, Helvetica, sans-serif;
 font-weight: 300; /* ligero */
    
}

h1{
    text-align: center;
    color: white;
    border-bottom: 2px solid red;
}
